body {
	padding: 0;
	margin: 0;
}
html, body, #map {
	height: 100%;
	width: 100%;
}

.leaflet-container .leaflet-control-mouseposition {
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 5px #bbb;
	padding: 0 5px;
	margin:0;
	color: #333;
	font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.my-label {
	opacity: 1;
	position: absolute;
	border: none;
	border-radius: unset;
	background-color: unset;
	color: #fff;
	font-size: 12px;
	white-space: nowrap;
	text-shadow: 0 0 6px #000, 0 0 6px #000, 0 0 3px #000;
	user-select: none;
	pointer-events: none;
	box-shadow: none;

}
.leaflet-tooltip-bottom:before {
	border: none;
}
#overlay {
	position:absolute;
	top:0px;
	right:0px;
	width:30%;
	height:20%;
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 5px #bbb;
	padding: 0 5px;
	margin:0;
	color: #333;
	font: 11px/1.5 "helvetica neue", arial, helvetica, sans-serif;
	overflow-y: auto;
}

.playerLine {
	height: 15px;
	position: relative;
}

.hpbarOuter {
	height: 8px;
	display: inline-block;
	border: 1px black solid;
	width: 100px;
	margin-left: 5px;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	border: 1px black solid;
	margin-left: 5px;
}
.hpbar {
	height: 8px;
	display: inline-block;
}

.leaflet-image-layer {
	image-rendering: pixelated;
}